<div style="min-height: 87.9vh; " class=" " >
  <app-toolbar-constructor [dialogComponent]="editLecture" [titleButtonCreate]="'Лекцию'" [titleToolbar]="'Лекции'"></app-toolbar-constructor>
  <div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; width: 100%; height: calc(100vh - 144px)" >
    <mat-progress-spinner  diameter="150"   mode="indeterminate" color="primary" >
    </mat-progress-spinner>
  </div>
  <div class="mdl-grid">
    <div *ngFor="let lecture of lectures"  class="lecture-card mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet"  >
      <app-lecture-card [lecture]="lecture"></app-lecture-card>
    </div>
  </div>
  <!--<div class="paginator flex">-->
    <!--<span class="flex_1" ></span>-->
    <!--<div class=""></div>-->
    <!--<mat-paginator class="flex_1" style=" background-color:#f5f5f5" [length]="100"-->
                   <!--[pageSize]="3">-->
    <!--</mat-paginator>-->
  <!--</div>-->
</div>
